


.Calendar .rdp-month.rdp-caption_start.rdp-caption_end {
        width: 100%;
    }


    .Calendar  .rdp {
        margin: 10px 0px;
    }
    .Calendar  table.rdp-table {
        width: 100%;
        max-width: 100%;
    }

    .Calendar thead.rdp-head {
        width: 100%;
    }

    .Calendar  tr.rdp-head_row {
        width: 100%;
        display: flex;
    }

    .Calendar  th.rdp-head_cell {
        flex: 1;
    }

 .Calendar   tbody.rdp-tbody {
        width: 100%;
        display: flex;
        max-width: 100%;
    }

    .Calendar   tr.rdp-row {
        width: 100%;
        min-width: 100%;
        display: flex;
    }

    .Calendar   td.rdp-cell, th.rdp-head_cell {
        flex: 1;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .Calendar__Info {
        display: flex;
        border-bottom: 1px solid #ccc;
        width: 100%;
        justify-content:space-between;
        align-items: center;
        margin-bottom: 10px;


    }
    .Calendar__Info  .col {
        margin: 0;
        padding: 0;
    }
    
.Calendar__Actions {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.tooltip {
    font-size: 12px;
    height: auto;
    background-color: rgba(255,255,255,0.85);
    border: 1px solid #ccc;
    padding: 5px;
    width: 100px;
    position:  absolute;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(66, 68, 90, 0.06);
    -moz-box-shadow: 0px 0px 10px 10px rgba(66, 68, 90, 0.06);
    box-shadow: 0px 0px 10px 10px rgba(66, 68, 90, 0.06);
    pointer-events: none;
  
  }
  .tooltip__date {
    font-weight: bold;
    height: 100%;
  }
  .tooltip__content {
    font-size: 12px;
  
  }
 