
.Calendar{

    .rdp-month.rdp-caption_start.rdp-caption_end {
        width: 100%;
    }


    .rdp {
        margin: 10px 0px;
    }
    table.rdp-table {
        width: 100%;
        max-width: 100%;
        background-color: #fff;
        margin:15px 0;
        border: 1px solid rgb(243, 244, 246);
        border-radius:10px
    }

    thead.rdp-head {
        width: 100%;
        
    }
    
    tr.rdp-head_row {
        width: 100%;
        display: flex;
        padding-top: 15px;
    }

    th.rdp-head_cell {
        flex: 1;
    }

    tbody.rdp-tbody {
        width: 100%;
        display: flex;
        max-width: 100%;
        padding-bottom:15px;
    }
    .rdp-day_selected, .rdp-day_selected:focus-visible, .rdp-day_selected:hover {
        background-color: rgb(14, 116, 144);
    }

    tr.rdp-row {
        width: 100%;
        min-width: 100%;
        display: flex;
    }

    td.rdp-cell, th.rdp-head_cell {
        flex: 1;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}