.ColorBox  {
display: flex;
justify-content: center;
align-items: center;

}
.color-box{
    border-radius: 50%;
    border: 0.5px solid #ccc;
    background: #ccc;
    width: 25px;
    height: 25px;
    position: relative;

    &--yellow {
      background: #ffff00;

      &:checked {
      background: #ffff00;
      }
    
    }
    &--red {
      background: #e40000;

      &:checked {
        background: #e40000;
        }
    
    }
    &--green {
      background: #00ff00;

      &:checked {
        background: #00ff00;
        }
    
    }
    &--blue {
      background: #0000ff;

      &:checked {
        background: #0000ff;
        }
    
    }
  
  }

  