.Dashboard {
  &__Habit {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding: 5px 0px;
  }
  &__HabitDetails {
      display: flex;
      flex-direction: column;
      flex: 1;
  }
  &__HabitDone {
      width: 30px;
      height: 30px;
      background:#fff;
      border-radius: 50%;
      margin: 0px 10px 0px 0px;
      border: 1px solid #ccc;
      cursor: pointer;

    .Icon {
      display: none;

    }

    &--done {
      width: 30px;
      height: 30px;
      background:green;
      border-radius: 50%;
      margin: 0px 10px 0px 0px;
      border: 1px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;

      .Icon {
          display: flex;

      }
    }
  }
  &__HabitDetailsTitle {
      font-weight: bold

  }

  &__HabitDetailsTime {
      display: flex;
      flex-direction: row;
  };

  &__HabitDetailsStreak {
      display: flex;
      flex-direction: row;
  }

  &__HabitIcon {
      border: 1px solid #000;
      border-radius: 10px;
      padding: 5px 10px;
      max-width: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
        i {
          font-size: 30px;

        }
  }

    &__Calendar {
      display: flex;
      justify-content: space-evenly;
    }

    &__CalendarBox {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color:pink;
    }

    &__Title {
      font-size: 30px;
      padding-top:20px;
    }

    &__List {
  font-size: 18px;
        
    }

    .nodata {
      margin: 10px 0px;
      padding: 10px;
      width: 100%;
      min-height:100px;
      height: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

    }
}