
.Statistics {
  margin: auto;
  align-items: center;
  display: block;

  .rdp-nav {
    display: none;
  }

  .rdp-head {
    display: none;
  }

  .rdp-tbody {
    display: none;
  }

  .rdp-dropdown_month {
    display: none;
  }

  .custom-date-component {
    .rdp {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.Statistic {
  &__Chart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
}

.tooltip {
    font-size: 12px;
    height: auto;
    background-color: rgba(255,255,255,0.85);
    border: 1px solid #ccc;
    padding: 5px;
    width: 100px;
    position:  absolute;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(66, 68, 90, 0.06);
    -moz-box-shadow: 0px 0px 10px 10px rgba(66, 68, 90, 0.06);
    box-shadow: 0px 0px 10px 10px rgba(66, 68, 90, 0.06);
    pointer-events: none;
  
  }
  .tooltip__date {
    font-weight: bold;
    height: 100%;
  }
  .tooltip__content {
    font-size: 12px;
  
  }
  .Button__Toggle {
    margin: auto;
    display: block;
  }
  .Controls {
    display: flex;
  }

  .lineChart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #tolltip-linear  {
    font-size: 12px;
    height: auto;
    background-color: rgba(255,255,255,0.85);
    border: 1px solid #ccc;
    padding: 5px;
    width: 100px;
    position:  absolute;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(66, 68, 90, 0.06);
    -moz-box-shadow: 0px 0px 10px 10px rgba(66, 68, 90, 0.06);
    box-shadow: 0px 0px 10px 10px rgba(66, 68, 90, 0.06);
    pointer-events: none;
    display: none;
  }

.Controls {
  padding: 50px 0px;
}

.ChartPill {
  background-color: #fff;
  border-radius: 8px;
}