@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #f1faee;
}

[type='radio']:checked {
    background-color: transparent;
    border: 2px solid #0e7490
  }